extends base.pug

block content 
        div 
                h5 Product: #{product}
        div 
                h5 Quantity: #{quantity}
         
        div 
                h5 Prize: #{prize}
                     
        hr
        
