extends base.pug

block content 
    form(action="/submit-form-with-post", method="post")
  
            div 
                    h5 product
                    input(type="text" name="product")
            div 
                    h5 quantity
                    input(type="text" name="quantity")
            div 
                    h5 prize
                    input(type="text" name="prize")
            br
            hr
            input(type="submit")
