extends base.pug

block content 
        div 
                h5 Imie: #{imie}
        div 
                h5 Nazwisko: #{nazwisko}
         
        div 
                h5 Wiek: #{wiek}
                     
        hr
        
